h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Geostar Fill', cursive;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 15%;
    border: 2px solid;
    padding: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
    text-align: justify;
    margin: 45px auto 200px auto;
}